body{
	font-family: Arial, Helvetica, serif;

}
h1{
	font-size: 2em;
}
h2{
	text-align: center;
}
footer{
	background-color:#fa897b;
	padding: 30px;
	color:white;
	list-style-type: none;
	text-decoration: none;
}
form{
	text-align: center;
	padding: 30px
 }
a{
	text-decoration: none;
	color:black;
}
a:hover{
	text-decoration:underline;
}
p{
	font-size: 15px;
    
}
span{
	font-size: 17px;
}
li{
	list-style-type: none;
}
input{
	border-radius: 20px 0 0 20px;
	padding: 10px;
	margin-left: 10px;
}
 .logo{
 	width: 50px;
 	height:50px;
 	display: block;
 	margin: auto;
 	position:center;
}
.menu{
	position:left; 
    font-size: 13px;
    word-spacing: 2px;
    text-decoration: underline;

}
.nav-li{
	float:left;
	margin-left:30px;
	list-style-type: none;	
}

}
.footer{
	text-decoration: none;
	color:white;
	
}
.one{
	width: 50px;
 	height:50px;
 	display: block;
 	margin:left;
 	mix-blend-mode:multiply;	
}
.nav_li{
	list-style-type: none;
	color: white;
	font-size: 12px;
}