body{
	font-family: 'Poppins', sans-serif;
}
body li{
	list-style-type: none;
}
h2{
	text-align: center;
	font-size: 30px;
	font-weight: 500;
}
section.blog{
	font-size: 20px;
	font-weight: 400;
}
footer{
	padding: 30px;
	background-color:#fa897b;
}
a{
	text-decoration: none;
	list-style-type: none;	
}
a:not(footer)
{   
	color: black;
}
a:hover{
	text-decoration:underline;
}
p{
	font-size: 36px;	
}
input{
	border-radius: 20px 0 0 20px;
	padding: 10px;
	margin-left: 10px;
}
label{
	font-weight: 400;
	font-weight: 600;
	font-size: 18px;
}
input[type="email"]{
	font-weight: 400;
}
.hidden{
	display: none;
}
.slide{
	background: url(images/banner/banner.jpg) no-repeat ;
	background-color: yellow;
	height: 600px;
	font-size: 72px;
	color: #fa897b;
}
.top-menu{
	position: relative;
}
.menu-main{
	list-style: none;
	margin: 0;
	padding: 0;
}
.left-item {
    float: left;
}
.right-item{
	float: right;
}
.logo{
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	margin-top: 40px;
	padding-left: 550px;
	width: 80px;
 	height:80px;
}
.menu-main a{
	display: block;
    padding: 15px 20px;
    font-size: 15px;
}
.product{
	display: flex;
}
.list img{
	background-color: #e7e7e7;
	background-size: cover;
	margin-right: 30px;
	padding: 70px;
	
}
.product p{
	transform: rotate(-90deg);
	line-height: 30px;
	margin-right: 5px;
}
.footer-logo{
	width: 80px;
 	height:80px;
 	display: block;
 	mix-blend-mode:multiply;	
}
.product{
	font-size: 36px;
	font-weight: 400;
}
.feautured{
	display: flex;
}
.feautured img{
	border: 0.5px solid grey;
	display: block;
	padding: 50px;
	margin-right: 20px;
}
.feautured span{
	text-align: center;
	font-size: 17px;
	height: 20px;
}
.blog{
    display: inline-flex;
}
.blog img{
	margin-bottom: 15px;
}
.insta{
	display: flex;
}
.insta img{
	margin: 10px 10px 10px 10px;
}
.email{
	text-align: center;
}