body{
	font-family: 'Poppins', sans-serif;
}
body li{
	list-style-type: none;
}
h2{
	text-align: center;
	font-size: 30px;
	font-weight: 500;
}
footer{
	padding: 30px;
	background-color:#fa897b;
	height: 300px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
}
p{
	font-size: 36px;
	color: #404040;
}
input{
	border-radius: 20px 0 0 20px;
	padding: 10px;
	margin-left: 10px;
}
input[type="email"]{
	font-weight: 400;
}
footer a{
	color: #fff;
}
section.blog{
	font-size: 20px;
	font-weight: 400;
}
.hidden{
	display: none;
}
.slide{
	background: url(images/banner/banner.jpg) no-repeat;
	background-color: yellow;
	height: 600px;
	font-size: 72px;
	color: #fa897b;
}
.top-menu{
	position: relative;
}
.menu-main{
	list-style: none;
	margin: 0;
	padding: 0;
}
.left-item {
    float: left;
}
.right-item{
	float: right;
}
.logo{
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	margin-top: 40px;
	padding-left: 550px;
	width: 80px;
 	height:80px;
}
.menu-main a{
	display: block;
    padding: 15px 20px;
    font-size: 15px;
}
.product{
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	font-weight: 400;
}
.product li{
	display: flex;
	align-items: center;
}
.product p{
	transform: rotate(-90deg);
	display: flex;
	flex-wrap: wrap;
}
.footer-logo{
	width: 80px;
}
.feautured{
	display: flex;
	justify-content: space-around;
	margin-left: 80px;
}
.feautured li{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.feautured-img-item{
	border: 0.5px solid #D3D3D3;
	width: 300px;
	text-align: center;
	margin-right: 20px;
	padding: 10px 0;
}
.feautured span{
	font-size: 18px;
	font-weight: 500;
	align-items: center;
}
.blog{
    display: flex;
    justify-content: space-around;
}
.blog li{
	display: flex;
	flex-direction: column;
}
.blog-img-item{
    margin-right: 10px;
}
.blog .text{
	font-size: 18px;
	font-weight: 500;
	flex-direction: row;
	width: 350px;
}
.insta{
	display: flex;
}
.insta img{
	margin:8px 8px 8px 8px;
}
.email{
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	font-weight: 600;
}
.bottom-menu{
	display: flex;
	color: white;
	justify-content: space-around;
	border-top:solid 1px;
	margin-top: 50px;
	padding-top: 15px;
}
.text{
	font-size: 22px;
	font-weight: 600;
}
.text-menu{
	font-size: 16px;
	font-weight: 400;
}
.bottom-menu li{
	line-height: 35px;
}
.bottom-menu img[src*="svg"]{
	margin-right: 10px;
}